.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  top: 0;
  left: 0;
}

.global {
  position: fixed;
  z-index: 1200;
}
