.wrap {
  height: 100%;
}

.left {
  position: relative;
  background: #000;
  z-index: 2;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  min-height: 670px;
}

.content {
  position: relative;
  height: calc(100% - 64px);
  overflow-y: auto;
  padding: 40px;
}
