header.headerWrap {
  background: #ffffff;
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  height: 40px;
  width: 83.3%;
  z-index: 1;
  padding-left: 82px;
}
header .header {
  justify-content: space-between;
  padding: 0;
  min-height: 0;
}
.whatIsItLink {
  font-size: 9px;
  text-transform: uppercase;
  color: var(--red);
}
.leftMenu {
  display: flex;
  align-items: center;
}
.burgerWrap {
  width: 60px;
  height: 40px;
  background: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.burgerBtn {
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.menuIcon {
  background: #fff;
  position: relative;
  width: 20px;
  height: 2px;
  &::before {
    content: '';
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 4px;
    left: 0;
  }
  &::after {
    content: '';
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 4px;
    left: 0;
  }
}
.menuActive {
  background: #ff00e0;
  width: 20px;
  height: 2px;
  position: relative;
  transition: 0.2s;
  transform: rotate(-45deg);
  &::before {
    content: '';
    background: #ff00e0;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 0;
    transform: rotate(90deg);
  }
  &::after {
    content: none;
  }
}
.settingsActive {
  transition: 1s;
  transform: rotate(155deg);
}
.rightMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.settingsWrap {
  width: 37px;
  height: 40px;
  background: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.settings {
  color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.balance {
  width: 17px;
  margin-right: 5px;
}
.balance input {
  color: #000;
}
input::-webkit-input-placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
input::-moz-placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
input:-ms-input-placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
input::-ms-input-placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
input::placeholder,
.balance {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
.unlinkWrap {
  height: 40px;
  padding: 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 1px;
    height: 17px;
    border-left: 1px solid #cecece;
  }
}
.unlink {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8px;
  line-height: 1px;
  text-transform: uppercase;
  color: #0f0f0f;
  margin-top: -8px;
  width: 31px;
}
.cristallIcon {
  margin-right: 0;
  padding-right: 10px;
  display: flex;
}
.settingsMenu {
  position: absolute;
  top: 56px;
  right: 8px;
  z-index: 99;
  background: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  width: 206px;
}
.settingsMenuHeader {
  background: #313131;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  justify-content: center;
  padding: 11px 5px 10px 14px;
}
.wallet input {
  padding: 0;
  width: 0;
}
.wallet input[value=''] {
  display: none;
}
.switchWrap {
  flex-direction: row-reverse;
  span {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: justify;
  }
}
.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin: auto;
  padding: 17px 0 13px;
  border-bottom: 1px solid #cecece;
}
.menuItem:nth-child(4) {
  border-bottom: none;
  padding-bottom: 0;
}
.menuItemWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menuItemIcon {
  color: #aeaeae;
}
.iconAfter {
  color: #33a9fb;
}
.userName {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: lowercase;
  color: #000000;
  padding-left: 10px;
}
.menuItemText {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 10px;
}
.pointInputWrap {
  text-align: center;
  padding-top: 21px;
}
.powerInput {
  color: #d0d0d0;
}
@media screen and (max-width: 768px) {
  header.headerWrap {
    width: 100%;
    z-index: 99;
    padding-left: 0;
  }
  header .header {
    justify-content: space-between;
  }
}
