.popup {
  width: 600px;
  margin-bottom: 50px !important;
}

.title {
  display: flex;
  justify-content: flex-end;
  h6 {
    margin: 0 auto;
  }
}

.content {
  display: flex;
  justify-content: space-around;
}

.textSignature {
  padding: 0 54px 25px;
}
