header.headerWrap {
  background: #FFFFFF;
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  height: 40px;
}
header .header {
  justify-content: space-between;
  padding: 0;
  min-height: 0;
}
.whatIsItLink {
  font-size: 9px;
  text-transform: uppercase;
  color: var(--red);
}
.leftMenu {
  display: flex;
  align-items: center;
}
.burgerWrap {
  width: 60px;
  height: 40px;
  background: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.burgerBtn {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.menuIcon {
  background: #fff;
  position: relative;
  width: 20px;
  height: 2px;
  &::before {
    content: '';
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 4px;
    left: 0;
  }
  &::after {
    content: '';
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 4px;
    left: 0;
  }
}
.menuActive {
  background: #FF00E0;
  width: 20px;
  height: 2px;
  position: relative;
  transition: 0.2s;
  transform: rotate(-45deg);
  &::before {
    content: '';
    background: #FF00E0;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 0;
    transform: rotate(90deg);
  }
  &::after {
    content: none;
  }
}
.settingsActive {
    transition: 1s;
    transform: rotate(155deg);
}
.rightMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.settingsWrap {
  width: 37px;
  height: 40px;
  background: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.settings {
  color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
.balance {
  width: 17px;
  margin-right: 5px;
}
.balance input {
  color: red;
}
input::-webkit-input-placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
input::-moz-placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
input:-ms-input-placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
input::-ms-input-placeholder {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
input::placeholder, .balance {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
.unlinkWrap {
  text-align: center;
  border-left: 1px solid #CECECE;
  padding: 0 10px;
}
.unlink {
  display: block;
  font-size: 8px;
  line-height: 9px;
  text-transform: uppercase;
  color: #0F0F0F;
  margin-top: -8px;
}
.settingsMenu {
  position: absolute;
  top: 56px;
  right: 8px;
  z-index: 99;
  background: #FFFFFF;
  border: 1px solid #C6C6C6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  width: 206px;
}
.settingsMenuHeader {
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 5px 10px 14px;
}
.wallet input {
  padding: 0;
}
.switchWrap {
  flex-direction: row-reverse;
  span {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: justify;
  }
}
.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin: auto;
  padding: 17px 0 13px;
  border-bottom: 1px solid #CECECE;
}
.menuItem:nth-child(4) {
  border-bottom: none;
  padding-bottom: 0;
}
.menuItemIcon {
  color: #aeaeae;
}
.iconAfter {
  color: #33A9FB;
}
.userName {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: lowercase;
  color: #000000;
  padding: 0 10px;
}
.menuItemText {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
}
.pointInputWrap {
  text-align: center;
  padding-top: 21px;
}
.powerInput {
  color: #D0D0D0;
}
