$panel: #000;
$panel2: #ededed;
$text: #000;
$link: #37abff;
$hover: #000;
$hovertxt: #00ffeb;
$red: #ff00e0;

.panel_button {
  background-color: #313131 !important;
  height: 76px;
  margin-bottom: 1px !important;
  justify-content: center !important;
  width: 100%;
  svg {
    fill: $text;
  }
  &:hover {
    background: #757474 !important;
  }
  div {
    flex: 0 0 auto;
  }
  span {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
  }
}
.small_button {
  height: 76px;
}

.panel_logo {
  padding: 30px 0 !important;
  text-align: center;
  justify-content: center !important;
  width: 100%;
  height: 161px;
  img {
    margin: 0;
    width: 107px;
    height: 98px;
  }
}

header {
  width: 100%;
}

.right {
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px;
  color: #fff;
  p {
    text-align: center;
    a {
      text-transform: uppercase;
      color: $hovertxt;
      text-decoration: underline;
      font-size: 9px;
      &:hover {
        color: #fff;
      }
    }
    &.socials {
      a {
        color: #fff;
        display: inline-block;
        margin: 0 5px;
        &:hover {
          color: $hovertxt;
        }
      }
    }
    span {
      font-size: 9px;
      color: $red;
    }
  }
}

.content {
  position: relative;
  height: calc(100% - 64px);
  overflow-y: auto;
  padding: 83px 40px 40px 82px;

  .content_wrap {
    padding-bottom: 40px;
    border-bottom: #e9e9e9 solid 6px;
    h1 {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 40px;
      &.h1_image {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: nowrap;
        & > span {
        }
        .left {
          display: block;
          width: 70px;
          height: 70px;
          margin-right: 20px;
          flex-basis: 70px;
          div {
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;

            img {
            }
          }
        }
        .right {
          span {
            display: block;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 600;
            color: #aeaeae;
          }
        }
      }
    }
    .collections {
      max-width: 1600px;
      & > div > div {
        flex: 0 0 200px;
        flex-wrap: wrap;
        .element {
          width: 200px;
          & > div {
            height: 200px;
            width: 100%;
            display: flex;
            align-items: center;
            img {
              max-width: 200px;
              max-height: 200px;
            }
            div {
              text-align: center;
              margin: 0 auto;
              text-decoration: none;
              p {
                margin-top: 0;
              }
            }
          }
        }
        p {
          font-weight: 700;
          text-align: center;
          width: 100%;
          text-transform: uppercase;
          text-decoration: none;
          margin-top: 10px;
        }
      }
    }
    .createcol {
      .create_left {
        flex-basis: 200px;
        display: flex;
        flex-direction: column;
        .avatar {
          height: 200px;
          width: 100%;
          display: flex;
          align-items: center;
          img {
            max-width: 200px;
            max-height: 200px;
            margin-bottom: 20px;
          }
        }
      }
      .create_right {
        padding: 0 20px 0 40px;
        form {
          max-width: 600px;
          input,
          textarea {
            width: 100%;
          }
          & > div {
            display: block;
            margin-bottom: 20px;
            width: 100%;
          }
          & > div > div {
            width: 100%;
          }
        }
      }
    }
  }

  .submit {
    background: $red;
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

.poapup {
  width: 600px;
  margin-bottom: 50px !important;
  &__title {
    display: flex;
    justify-content: flex-end;
    h6 {
      margin: 0 auto;
    }
  }
  &__content {
    display: flex;
    justify-content: space-around;
  }
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1200;
  top: 0;
  left: 0;
}

.progress {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
}

.activeLink {
  background: linear-gradient(90deg, #d500f9 0%, #ff1744 100%);
  &:hover {
    background: linear-gradient(90deg, #d500f9 0%, #ff1744 100%) !important;
  }
}
.new {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .content {
    padding: 50px 20px 20px;
    width: 100%;
  }
}
