.app {
  min-height: 100vh;
}
.poapup {
  width: 600px;
  margin-bottom: 50px !important;
  &__title {
    display: flex;
    justify-content: flex-end;
  }
  &__content {
    display: flex;
    justify-content: space-evenly;
  }
}
.mnemonic {
  margin: 50px 50px;
  display: flex;
  justify-content: center;
}
